head
	title MIKI
	
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-96011454-2', 'auto');
		ga('send', 'pageview');

	<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
	<link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">
	link(rel="stylesheet", href="css/style.css")
	link(rel="stylesheet", href="css/animate.css")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Droid+Serif|Josefin+Sans|Montserrat|Playfair+Display|Raleway")
	link(rel="stylesheet", href="css/devicon.css")

		
body
	header#header
		p.menuitem#menumain MAIN
		p.menuitem#menuabout ABOUT ME
		p.menuitem#menustuff PROJECTS


	.section#intro
		.card.introcard
			.column-right
				p.title MICAEL ROBLES
				h1.sub Front-end developer
				.sociallinks
					a.socicon-mail(href="mailto:micael.robles@gmail.com")
					a.socicon-github(href="https://github.com/erosilk", target="_blank")
					a.socicon-twitter(href="https://www.twitter.com/microbles", target="_blank")
					//a.socicon-facebook(href="https://www.facebook.com/roblesmicael", target="_blank")
					//a.socicon-whatsapp#whatsapp
					//#number
						.arrow
						p 123456789
				.buttons
					a.buttonstyle#whoami ABOUT ME
					a.buttonstyle#checkitout CHECK OUT MY PROJECTS
					a(href="../docs/MicaelRoblesCV.pdf", target="_blank").buttonstyle#curriculum DOWNLOAD MY CURRICULUM
	.section#me
		.card.mecard
			p.title Hi, My name is <strong>Micael Robles.</strong>
			p.title.imsub I'm a 19 years old guy from <i>Buenos Aires, Argentina.</i>
			p.title.imsub I'm also a self-taught web developer, currently hanging out in <a href="https://freecodecampba.org/"><i>FreeCodeCamp.</i></a>
			p.title.imsub I like to challenge myself to do things that surprise people.
			//p.title.imsub I can handle HTML5, CSS3, JavaScript, jQuery, Photoshop, Illustrator and some other useful stuff.
		#fast.fade
		.card.me2card
			p.title I know these tools
			.iconcontainer
				i.devicon-html5-plain-wordmark
				i.devicon-css3-plain-wordmark
				i.devicon-javascript-plain
				i.devicon-jquery-plain-wordmark
				i.devicon-illustrator-line
				i.devicon-photoshop-line
				i.devicon-sass-original
				i.devicon-bootstrap-plain-wordmark


	.section#stuff
		a.card.stuffcard#stufftitle
			p.title#stuff Here are some things I did:
		a.card.stuffcard.item(href="http://botwcheck.cf/", target="_blank")
			p.title BOTW Emulation Status
		a.card.stuffcard.item(href="https://erosilk.github.io/tic-tac-toe/", target="_blank")
			p.title Tic Tac Toe
		a.card.stuffcard.item(href="https://erosilk.github.io/simon-game/", target="_blank")
			p.title Simon Game
		a.card.stuffcard.item(href="https://erosilk.github.io/pomodoro-clock/", target="_blank")
			p.title Pomodoro Clock
		a.card.stuffcard.item(href="https://erosilk.github.io/random-quote-machine/", target="_blank")
			p.title Random Quote Machine
		a.card.stuffcard.item(href="https://erosilk.github.io/simple-calculator/", target="_blank")
			p.title Simple Calculator
		a.card.stuffcard.item(href="https://erosilk.github.io/twitch-json-api/", target="_blank")
			p.title Twitch.tv JSON API
			

script(src="https://code.jquery.com/jquery-3.1.1.min.js")
script(src="js/pace.min.js")
script(src="js/script.js")


